<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

<div id="app">
  <div>
    <input type="text" v-model="inputTask">
    <button @click="addTask">Добавить задачу</button>
  </div>
  <div v-if="arrTasks.length > 0">
    <div v-for="(itemTask, index) in arrTasks" :key="index">
      <div>
        {{ index }} {{ itemTask }}
      </div>
      <button :style="{color: arrTasks.length > 3 ? 'green' : 'red'}" @click="removeTask(index)">Удалить</button>
    </div>
  </div>
  <div v-else>
    <h2 :style="{color: colorText ? 'red' : 'blue'}">Задачек нет!!!</h2>
  </div>
</div>


<script src="https://unpkg.com/vue@next"></script>
<script src="app.js"></script>

</body>
</html>
